services:
  php:
    build: ./php
    ports:
      - 8081:80
    volumes:
      - ./php:/var/www/html
  
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
