name: Telegram Notify  # ← Должно быть!
on: [push]             # ← ТРИГГЕР!
jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
    - uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_CHAT_ID }}
        token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        message: "TEST"
